@import 'mixin';
@import '~assets/font/iconfont';

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none !important;
    border: none;
    color: #fff;
    box-sizing: border-box;
    font-family: "Microsoft Yahei",sans-serif;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
    font-size: 10px;
}
img{
    width: 100%;
}
.col-1{width: 10%;}
.col-2{width: 20%;}
.col-3{width: 30%;}
.col-4{width: 40%;}
.col-5{width: 50%;}
.col-6{width: 60%;}
.col-7{width: 70%;}
.col-8{width: 80%;}
.col-9{width: 90%;}
.col-10{width: 100%;}
.lr-col{
    @include fj();
}

.fz0{font-size: 0px;}
.fz12{font-size: 1em;}
.fz14{font-size: 1.1666em;}
.fz16{font-size: 1.3333em;}
.fz18{font-size: 1.5em;}
.fz20{font-size: 1.6666em;}

.tac{text-align: center;}
.tar{text-align: right;}
.tal{text-align: left;}

.fl{float: left;}
.fr{float: right;}
.pr{position: relative;}
.pa{position: absolute;}

.show{display: block;}
.hide{display: none;}

.inline-block{display: inline-block;}
.fw{font-weight: bold;}
.color-ft-a3{ color: $color-a3; } 
.color-ft-gray{ color: $gray; }
.color-ft-black{ color: #000; } 
.color-bg-gray{ background-color: $gray; }
.color-bg-black{ background-color: #000; }
// 公共样式
.padd-lr{
    @include remCalc('padding', 0, 10);
}
.padd-all-2010{
    @include remCalc('padding', 20, 10);
}
.clear:after{
    content: ".";
    visibility: hidden;
    clear: both;
    height: 0;
    width: 100%;
    display: block;
}
// 超出不换行
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#app{
    margin-bottom: strip-rem(50px);
}
.children-view{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 9999;
}
// 分割条
.divide-line{
    background-color: #363636;
    margin: 0;
    border: none;
    height: 1rem;
    @include remCalc('height', 12);
}
// 购买按钮
.btn-buy{
    width: strip-rem(100px);
    height: strip-rem(30px);
    background-color: #999;
    color: #000;
    line-height: strip-rem(30px);
    margin: 0 auto;
}
// 左右按钮通知块
.lr-info{
    background-color: $gray;
    @include remCalc('padding', 15, 10);
}
.link-known{
    @include remCalc('padding', 5, 10);
    background-color: #000;
}
// ul列表
.list-item{
    float: left;
    margin-bottom: strip-rem(15px);
    width: calc(50% - #{strip-rem(15px) / 2});
    &:nth-child(odd){
        margin-right: strip-rem(15px);
    }
    img{
        width: 100%;
    }
    .item-content{
        @include remCalc('padding', 10, 0);
        color: #989898;
    }
    .item-pirce,{
        color: #989898;
    }
}
.goods-item{
    padding-bottom: strip-rem(15px);
    border-bottom: 1px solid $gray;;
    a{
        display: block;
    }
    .item-content{
        @include remCalc('padding', 10, 0);
        color: #747474;
    }
}
// 弹窗默认字体颜色
.tip_text{
    p{
        color: #333;
    }
}
// 动画弹窗
.specs_cover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 17;
}
.specs_list{
    position: fixed;
    top: 22%;
    left: 15%;
    width: 70%;
    background-color: #fff;
    z-index: 18;
    border: 1px;
    border-radius: 0.2rem;
    .specs_cancel{
        position: absolute;
        right: strip-rem(10px);
        top: strip-rem(10px);
    }
    .specs_details{
        @include remCalc('padding', 20, 10, 0);
    }
}
.fadeBounce-enter-active, .fadeBounce-leave-active,
.fade-enter-active, .fade-leave-active {
    transition: all .3s;
}
.fadeBounce-enter, .fadeBounce-leave-active {
    opacity: 0;
    transform: scale(.7);
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}